.about-block {
    display: flex;
    margin: 2em 0;
  }
  
.about-left, .about-right{
    flex: 1;
}

.about-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
}

@media (max-width: 960px) {

    .about-block{
      flex-direction: column;
    }

    .about-right{
        margin: 2em auto 0;
    }
  
  }