header {
    background: black;
    position: sticky;
    top: 0;
 
    .logo {
        font-weight: bold;
    }
 
    nav {
        justify-self: right;
   
        ul {
            list-style-type: none;
            margin: 0; padding: 0;
 
            li {
                float: left;
 
                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
 
                    &:hover {
                        background: #202020;
                    }
                }
            }
        }
    }
}
 
.active{
    border-bottom: 4px solid var(--yellow);
    color: var(--yellow);
    transition: 0.3s;
}

.icon{
    display: none;
    justify-self: right;
    cursor: pointer;
    background: var(--yellow);
    border: none;
    border-radius: 2px;
    width: 40px;
    &:hover{
        background-color: #fac929;
    }
}


@media (max-width: 960px) {
    .icon{
        display: block;
    }

    nav{
        display: none;
    }
}
