<header>
    <div class="container">
        <a routerLink="/" class="logo">John Roach</a>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a routerLink="/volumes" routerLinkActive="active">Volumes</a></li>
                <li><a routerLink="/characters" routerLinkActive="active">Characters</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
    </div>
</header>