<head>
    <title>John Roach - Chapters</title>
</head>
<div class="heading">
    <h1>Chapters</h1>
    <div class="description">
        <p>{{description}}</p>
    </div>
</div>
<div class="card-section">
    <div class="cha-card" (click)="showChapter()">
        <div class="cha-img">CHA 1</div>
        <div class="cha-detail">
            <p class="cha-chapter">Chapter 1</p>
            <h2 class="cha-title">Pilot</h2>
            <p class="cha-desc">John Roach appears in the EntoVerse! How will he measure up to this world?</p>
        </div> 
    </div>
    <div class="cha-card" (click)="showChapter()">
        <div class="cha-img">CHA 2</div>
        <div class="cha-detail">
            <p class="cha-chapter stack">Chapter 2</p>
            <h2 class="cha-title stack">Danger Ahead!</h2>
            <p class="cha-desc stack">With newfound trust of the locals, John Roach faces a threat head on!</p>
        </div> 
    </div>
    <div class="cha-card" (click)="showChapter()">
        <div class="cha-img">CHA 3</div>
        <div class="cha-detail">
            <p class="cha-chapter">Chapter 3</p>
            <h2 class="cha-title">The Scarab King</h2>
            <p class="cha-desc">A new foe rallies against John Roach, can he thwart them?</p>
        </div> 
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div>