<head>
    <title>John Roach - Chapters</title>
</head>
<div class="heading">
    <h1>Chapters</h1>
    <div class="description">
        <p>{{description}}</p>
    </div>
</div>
<!--<div class="card-section">
    <div *ngFor="let chapter of chapters" class="chap-card" (click)="showChapter(chapter.chapterNumber)">
      <div class="chap-img">CHA {{ chapter.chapterNumber }}</div>
      <div class="chap-detail">
        <p class="chap-chapter">Chapter {{ chapter.chapterNumber }}</p>
        <h2 class="chap-title">{{ chapter.title }}</h2>
        <p class="chap-desc">{{ chapter.description }}</p>
      </div>
    </div>
</div>-->

<div class="about-right">
  <img src="assets/icon/comic_coming_soon.jpg" class="coming-soon">
</div>

<div class="center-horizontally">
  <div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="https://app.us14.list-manage.com/subscribe/post?u=e1b00095633642f0bf77f685c&amp;id=879790da2a&amp;f_id=00aa96e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div id="mc_embed_signup_scroll"><h2>Follow the Journey of John Roach</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="" required=""></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;"></div>
        <div class="response" id="mce-success-response" style="display: none;"></div>
      </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
      <input type="text" name="b_e1b00095633642f0bf77f685c_879790da2a" tabindex="-1" value="">
    </div>
      <div class="optionalParent">
        <div class="clear foot">
          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
          <p style="margin: 0px auto;"><a href="http://eepurl.com/iUJ5Ks" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
        </div>
      </div>
    </div>
  </form>
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
  
</div>

  
<!--When grtting the images fro mthe chapters, they could be in a json file that tells it which type of penl it is (image or video or splash) which could
then have its own class, but it allows for the video to be imbedded into the page and flow seamlessly!!! Also
have each chapter object's be numbered so that the code knows which one goes next-->
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div>