<head>
    <title>John Roach - Chapters</title>
</head>
<div class="heading">
    <h1>Chapters</h1>
    <div class="description">
        <p>{{description}}</p>
    </div>
</div>
<div class="card-section">
    <div *ngFor="let chapter of chapters" class="chap-card" (click)="showChapter(chapter.chapterNumber)">
      <div class="chap-img">CHA {{ chapter.chapterNumber }}</div>
      <div class="chap-detail">
        <p class="chap-chapter">Chapter {{ chapter.chapterNumber }}</p>
        <h2 class="chap-title">{{ chapter.title }}</h2>
        <p class="chap-desc">{{ chapter.description }}</p>
      </div>
    </div>
</div>
  

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div>