@import 'src//styles';

.card-section{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2em;
    //grid-auto-rows: minmax(auto, auto);
}

.char-card{
    border-radius: .6em;
    //box-shadow: 0px 2px 5px 1px rgba($color: black, $alpha: .2);
    //border-bottom: 10px solid #daad18;
    background-color: black;
    //background-image: linear-gradient(90deg, #daad18 5%, black 0%);
    color: white;
    margin: 0;
    cursor: pointer;
    &:hover{
        background: #fafafa;
        color: black;
        -webkit-filter: brightness(95%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        box-shadow: 0px 2px 5px 1px rgba($color: black, $alpha: .2);
    }
}

.char-img{
    background: var(--yellow);
    width: 40%;
    height: 100%;
    display: inline-block;
    border-radius: 0.6em 0 0 0.6em;
    float: left;
}

.char-detail{
    display: inline-block;
    width: 55%;
    padding-right: 0.5em;
    float: right;
}

.stack{
    //background: cyan;
}

.char-name{
    
}

.char-species{
    font-style: italic;
    font-size: small;
}

.char-abilities{
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 960px) {
    .card-section{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 .welcome-img{
    width: 100%;
    height: 100%;
    border-radius: 0.6em 0 0 0.6em;
 }